version: "2.3"
services:
  emby:
    image: emby/embyserver:latest
    container_name: embyserver
    # runtime: nvidia
    network_mode: host
    environment:
      - UID=1000
      - GID=100
      - GIDLIST=100
    volumes:
      - ./config:/config
      - /files/serials:/mnt/share1 #tvshows
      - /files/movies:/mnt/share2  #movies
      - ./cache:/cache
    # ports:
    #   - 8096:8096 # HTTP port
    #   - 8920:8920 # HTTPS port
    devices:
      - /dev/dri:/dev/dri
    restart: on-failure
