version: "3.8"
services:
  emby:
    image: emby/embyserver:latest
    container_name: embyserver
    # runtime: nvidia
    network_mode: host
    environment:
      - UID=1000
      - GID=100
      - GIDLIST=100
      - TZ=Asia/Barnaul
    volumes:
      - ./emby/config:/config
      - /files/serials:/mnt/share1 #tvshows
      - /files/movies:/mnt/share2  #movies
      - ./emby/cache:/cache
    tmpfs:
      - /tmp:rw,size=1G
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: proxy
    network_mode: host
    environment:
      - TZ=Asia/Barnaul      
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
    depends_on:
      - emby
      - qbittorrent-nox

  qbittorrent-nox:
    image: qbittorrentofficial/qbittorrent-nox:latest
    container_name: qbittorrent-nox
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - QBT_WEBUI_PORT=8080
      - QBT_TORRENTING_PORT=6881
      - TZ=Asia/Barnaul
    volumes:
      - ./qbittorrent/config:/config
      - /files:/downloads
    read_only: true
    tmpfs:
      - /tmp:rw,size=1G
    restart: unless-stopped